body {
    background-color: #ffffff;
    color: #000000;
    font-family: "Aptos", serif;
    transition: all 1s ease-in-out;
}

body.dark {
    background-color: #222222;
    color: #ffffff;
    transition: all 1s ease-in-out;
}

body.inBackground {
    transition: all 1s ease-in-out;
}

.bubble {
    background: lightgray;
    padding: 20px;
    border-radius: 100px;
    width: fit-content;
}

.bubble:hover {
    background: gray;
}

.bubble.dark {
    background: #3a3a3a;
}

.bubble.dark:hover {
    background: rgba(58, 58, 58, 0.5); /* dimgray with 60% opacity */
}