body {
    font-family: "Aptos", serif;
    transition: all 1s ease-in-out;
}

body.dark {
    background-color: #222222;
    color: #ffffff;
    transition: all 1s ease-in-out;
}

body.inBackground {
    transition: all 1s ease-in-out;
}

#background {
    display: block;
    position: fixed;
    left: -1%;
    top: -1%;
    z-index: -1;
    width: 101%;
    height: 101%;
    background-color: #222222;
    transition: all 1s ease-in-out;
}

.bubble {
    background: lightgray;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}

.bubble:hover {
    background: gray;
    border-radius: 50px;
}

.bubble.dark {
    background: #3a3a3a;
}

.bubble.dark:hover {
    background: rgba(58, 58, 58, 0.5); /* dimgray with 60% opacity */
    border-radius: 50px;
}