/* Styles for the dialog box */

/* FIXME: Fix background animation */
/*
@keyframes gradient-animation {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
} */

#darkModeDia {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border: 2px solid #333333;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: "Aptos", serif;
    background: linear-gradient(to bottom right, #FF6D6A, #EFBE7D, #E9EC6B, #8BD3E6, #E9CDD0, #B1A2CA);
    opacity: 0;
    transition: all 1s ease-in-out;
}

#darkModeDia::backdrop {
    display: none;
    background-color: rgba(0, 0, 0, 0);
}

#darkModeDia.visible {
    opacity: 1;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: opacity 1s linear;
}

/* Styles for the content inside the dialog box */
#darkModeDia p {
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
}

#darkModeDia .button-container {
    display: flex;
    justify-content: space-between;
}

/* Styles for the buttons inside the dialog box */
#darkModeDia button {
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-family: "Aptos", serif;
    cursor: pointer;
}

#darkModeDia #confirm {
    background-color: #4CAF50; /* Green */
    color: white;
}

#darkModeDia #cancel {
    background-color: #f44336; /* Red */
    color: white;
}

#dark-toggle {
    position: absolute;
    bottom: 1%;
    width: 100px;
    border-radius: 25%;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transform: rotate(180deg);
}

/* TODO: Add radial falloff around the edges */

#dark-toggle:hover {
    background-color: #afafaf;
    transform: rotate(170deg);
    transition: all 0.5s ease-out;
}

#dark-toggle.dark {
    background-color: dimgray;
    transform: rotate(0deg);
}

#dark-toggle.dark:hover {
    background-color: darkgray;
    transform: rotate(10deg);
    transition: all 0.5s ease-out;
}

/* Media query for small screen widths */
@media (max-width: 300px) {
    #darkModeDia .button-container {
        flex-direction: column;
    }

    #darkModeDia button {
        margin-bottom: 10px;
    }
}

#cookiePopup {
    color: black;
    position: fixed;
    bottom: -200px; /* Start off the screen */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1000;
    transition: all 0.5s ease-in-out; /* Add transition */
}

#cookiePopup.dark {
    color: white;
    background-color: #222222;
}

#cookiePopup.show {
    bottom: 50px; /* Move to this position when shown */
}

#cookiePopup .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#cookiePopup button {
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Add transition */
}

#cookiePopup button:hover {
    background-color: #ddd;
    color: #333;
}