/* Styles for the dialog box */
#darkModeDia {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border: 2px solid #333333;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: "Comic Sans MS", serif;
    background: linear-gradient(to bottom right, #FF6D6A, #EFBE7D, #E9EC6B, #8BD3E6, #E9CDD0, #B1A2CA);
}

#darkModeDia::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styles for the content inside the dialog box */
#darkModeDia p {
    margin-bottom: 10px;
}

/* Styles for the buttons inside the dialog box */
#darkModeDia button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Comic Sans MS", serif;
}

#darkModeDia #confirm {
    background-color: #4CAF50; /* Green */
    color: white;
}

#darkModeDia #cancel {
    background-color: #f44336; /* Red */
    color: white;
}

#dark-toggle {
    position: absolute;
    bottom: 1%;
    width: 100px;
    border-radius: 25%;
    cursor: pointer;
}

#dark-toggle.dark {
    background-color: dimgray;
}